@media(min-width: 468px) {
    .descriptionContainer, .anotherDescriptionContainer,  .headerStyle{
        display: flex
    }
}

h1 {
    align-content: center;
    margin-left: 30px;
}

body {
    width: 960px;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Slabo 27px', serif;
}

.container {
    background: #e3e3e3;
}

.description-1, .description-2, .description-3, .description-4, .description-5 {
    flex: 1;
}

nav li {
    display: inline;
    margin-left: 0em;
    margin-right: 5em;
}

nav {
    background: orange;
    justify-content: flex-end;
    align-self: center;
    flex-basis: 90%;
    margin-left: 60px;
}

header {
    background-color: rgb(223, 61, 12);
}

img {
    width: 900px;
    height: 350px;
    margin-left: 10px;
    margin-right: 10px;
}

footer li {
    display: inline;
    margin-left: 5em;
    margin-right: 5em;
}

footer ul {
    margin: 0;
    padding-left: 2rem;
    height: 100%;
}

footer {
    background: lightblue;
    height: 40px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.heroSection {
    background: url('../img/Samvida.png') no-repeat;
    color: white;
    background-position-x: center;
    height: 371px;
    background-size: 200%;
}

.heroUnit {
    width: 460px;
    margin: auto;
    justify-content: center;
    padding: 6em;
    background-color: rgba(50,50,50,0.8);
}

.heroContent  {
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30pt;
}

.descriptionContainer img {
    width: 100%;
    margin: 0;
}
.descriptionContainer p {
    padding: 1px 2em;
    text-align: center;
    font-style: italic;
}

.description-1, .description-2, .description-3 {
    margin: 0.5px;
    border: solid grey;
}

.anotherDescriptionContainer img {
    width: 100%;
    margin: 1px;   
}

.description-5 {
    margin: 0.5px;
    flex-flow: column;
}

.description-5 p {
    padding: 1px;
    text-align: center;
}

.description-5 div {
    height: 32.4%;
    border: 0.5px solid grey;
    margin: 1px;
}